langchain
ipykernel
python-dotenv
langchain_community
pypdf
langchain_core
faiss-cpu
streamlit
langchain_groq
langchain-text-splitters
langchain-openai
chromadb
langchain_huggingface
langchain_chroma
deepeval

